@font-face{font-family:SansationLight;src:url(/Sap/resources/fonts/sansation/Sansation_Light.ttf)}@font-face{font-family:SansationBold;src:url(/Sap/resources/fonts/sansation/Sansation_Bold.ttf)}@font-face{font-family:SansationRegular;src:url(/Sap/resources/fonts/sansation/Sansation_Regular.ttf)}



body {
	/*font-family:verdana, sans-serif;*/
	font-family:SansationLight;
}
.entete{}
.entete h1{margin:15px 0 0 0;font-size:120%;}
.entete p{margin:0px 0 5px 0;}
.entete a{color:#333343;text-decoration:none;}



.bandeau{
	margin-top:10px;
	height:280px;
	background:transparent url(http://irfu-i.cea.fr/Sap/Images/bg_body.jpg) repeat-x 0px -80px;
}

.navig-retour{display:none;}

.bandeau h1{
	background:#436C1E;
	opacity:0.8;
	padding:5px;
	font-size:200%;
	color:white;
}

a:link {
   
}
a:visited {
   
}
a:hover {
 
}
a:active {
   
}


.footer {
	color:#bebebe;
	margin-top:20px;
	font-size:80%;
}

.footer p {
	margin:2px;
}

.footer a  {
	color:#bebebe;
}

.footer a:hover,.footer a:active,.footer a:visited {
	color:#bebebe;
}

h1{}
h2{}
h3{}
h4{}

.acronyme{
	font-size:230%;margin:0;padding:0;
}
.sous-acronyme{
	font-size:120%;margin:0;padding:0;
}
.lien_cache{}
.lien_cache span {display:none;}

table {}
th {vertical-align:top;}
table tr td {vertical-align:top;}


.news_home{}
.news_home a{color:#333;}


/*===============================================
Affichage des News
/Config/Templates/CnewsBox.php
==================================================*/
.news  {/* tableau general d'une news */
 
}
.news1  {/* fond du Titre de la news */
}
.news11 {
}
.news2  { /* auteur + date de la news */
}
.news3   {  /* theme de la news */
   
}
.news4 {  /*texte de la news */
}
.news5  { /* url */	
}
.autresNews{
}
.newsSvceLine{}
.newsSvceLine li {}
.newsshort_titre{}
.newsshort_titre a { }
.newsshort_date{}
.newsshort_texte{}

/*===============================================
Affichage de l'AGENDA
Config/Templates/CeagendaBox.php, fct eagendaBox()
==================================================*/
.eagdaGen1 { /* boite generale (1ere, 3eme, 5eme etc.) */
	
} 
.eagdaGen2 {/* boite generale (2eme, 4eme, 6eme etc.) */
}    

.eagda1 { /*Titre */
	
}
.eagda1  a{ /*Titre */
}

.eagda2 {    /* date et heure */
	
}
.eagda3 {    /* type de seminaire */
 
}
.eagda4 {   /* lieu intervenant */
	
}  

/*==================================================
Affichage des seminaires
Config/Templates/CseminarBox.php, fct seminar_box()
=====================================================*/
 /* Titre du seminaire */
.semin1 {    
  
}
/* Type de seminaire */
.semin2 {    
   
}
/* Date et heure et lieu */
.semin3 {     
    
}
/* Intervenant */
.semin4 {    
   
}
 /* resume */
.semin5 {    
   
}

.page_semin{
	border-radius:5px;
}
.page_semin_lieu{
	border-radius:5px;
}
/*===============================================
Affichage des AST
==================================================*/
.ast_page{font-family:SansationRegular;}

.ast_titre{}
.ast_ss_titreL{}
.ast_ss_titreR{}
.ast_legende {}
.ast_url{}
.ast_pied_page{}

.astshort_titre{ }
.astshort_titre a { }
.astshort_date{}


/*==================
ALBUM
==============*/
.albumdiapo {
	
}

.albumdiapo #titre {
	
}

.albumdiapo #sstitre {
	
}
.albumdiapo #_img {
	
}
